:root {
	--purpleColorLighter: #A42DE8;
	--blueColorLighter: #318AFF;
	--blueColorDarker: #2D3DE8;
	--bgColor: #ffffff;
	--fgColor: #800080;
	--fgColorLighter: rgba(128,0,128,0.5);
	--headerTextColor: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #422142;
		--fgColor: #f0c4f0;
		--fgColorLighter: rgba(210,169,210,0.5);
		--headerTextColor: var(--fgColor);
	}
}

.page-header, main {
	padding: 0.2em 0.2em;
}

/* Page Header */
.page-header {
	background-color: var(--purpleColorLighter);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-menu ul {
	display: flex;
}

.main-menu li {
	list-style: none;
	margin-left: 1em;
}

.page-header h1 {
	color: var(--headerTextColor);
}

/* Page footer */
.page-footer {
	background-color: var(--purpleColorLighter);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--headerTextColor);
}

.title {
	color: var(--headerTextColor);
}